<!--templates/airbnb-->
<html>
    <head>
        <title>Airbnbs</title>
    </head>
    <body>
        <h1>Airbnbs</h1>
        <h2>Enjoy this executive 3 bedroom fully furnished apartment (Airbnb)
            <ul>
                {% for  airbnb in all_airbnbs_list %}
                <li>
                    <h3>{{ airbnb.name }}</h3>
                    {% for image in airbnb.images.all %}
                      <img src="{{ image.image.url }}" alt="{{ airbnb.name }}">
                    {% endfor %}
                    <p>Location : {{ airbnb.location }} </p>
                    <p>Rooms : {{ airbnb.rooms }}</p>
                    <p>Price : Ksh. {{airbnb.price }}</p>
                    <p>Avalability: {% if airbnb.avalability %}Available{% else %}
                        Not available {% endif %}
                    </p>
                    <p>Services: {{ airbnb.services }}</p>
                    <p>{% if airbnb.avalability %}<a href="{% url 'airbnb_customer_form' %}">Book now</a>{% else %}
                        The airbnb is already booked.Please try another one{% endif %}
                 
                </li>
                {% endfor %}
            </ul></h2>
            

    </body>
</html>

